* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f8ff;
    color: #54767d;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.left-column {
    width: 60%;
    padding: 20px;
}

.right-column {
    width: 40%;
    background-color: #f0f4f8;
    padding: 20px;
}

.right-column section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.right-column h2 {
    margin-bottom: 15px;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    color: #4378ac;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #90bff4;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: #2d6aa6;
    border-bottom: 2px solid #7f8c8d;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.job {
    margin-bottom: 15px; /* Más espacio entre trabajos */
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.job h3 {
    font-size: 22px; /* Ajusta el tamaño según tu preferencia */
    color: #2d6aa6; /* Mantén el color para consistencia */
    margin-bottom: 8px; /* Espacio debajo del título de la empresa */
}

.job h5 {
    font-size: 16px; /* Un poco más pequeño que h3 */
    color: #54767d; /* Color más suave para diferenciar */
    margin-bottom: 8px; /* Espacio debajo del título del cargo */
}

.job p {
    font-size: 14px; /* Tamaño de texto consistente */
    margin-bottom: 10px; /* Espacio entre párrafos */
}

.job ul {
    margin-left: 20px; /* Sangría para la lista */
    margin-bottom: 15px; /* Espacio debajo de la lista */
    list-style-type: disc; /* Tipo de viñeta */
}

.job li {
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
}


.about p {
    text-align: justify;
}

.contact a {
    color: #2980b9;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.small-list {
    font-size: 12px;
    line-height: 1.3;
    list-style-type: disc; 
    margin-left: 20px;
}

.contact a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.contact i {
    margin-right: 10px; 
}

.no-bullets {
    list-style-type: none;
    padding-left: 0; /* Opcional: para alinear con el texto */
}

@media print {
    body {
        background-color: #f4f8ff; /* Color de fondo que quieras para la impresión */
        -webkit-print-color-adjust: exact; /* Ajuste para imprimir colores en algunos navegadores */
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .left-column,
    .right-column {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    .subtitle {
        font-size: 16px;
    }

    .job h3 {
        font-size: 20px;
    }

    .job h5 {
        font-size: 14px;
    }

    .job p {
        font-size: 12px;
    }
}

