* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #54767d;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.left-column {
    width: 60%;
    padding: 20px;
}

.right-column {
    width: 40%;
    background-color: #e9f1fb; /* f0f4f8 e9f1fb */
    padding: 20px;
    border-left: 2px solid #c5d8f0; /* d6e3f5 c5d8f0 */
    border-bottom: 2px solid #c5d8f0;
    border-radius: 6px;
    box-shadow: none;
}

.right-column section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.right-column h2 {
    margin-bottom: 15px;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    color: #4378ac;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #90bff4;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: #2d6aa6;
    border-bottom: 2px solid #c9d5e3; /* 7f8c8d */
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.job {
    margin-bottom: 15px; /* Más espacio entre trabajos */
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.job h3 {
    font-size: 22px; /* Ajusta el tamaño según tu preferencia */
    color: #2d6aa6; /* Mantén el color para consistencia */
    margin-bottom: 8px; /* Espacio debajo del título de la empresa */
}

.job h5 {
    font-size: 16px; /* Un poco más pequeño que h3 */
    font-weight: 600;
    color: #4a6f91; /* Color más suave para diferenciar */
    margin-bottom: 8px; /* Espacio debajo del título del cargo */
}

.job p {
    font-size: 14px; /* Tamaño de texto consistente */
    margin-bottom: 10px; /* Espacio entre párrafos */
}

.job ul {
    margin-left: 20px; /* Sangría para la lista */
    margin-bottom: 15px; /* Espacio debajo de la lista */
    list-style-type: disc; /* Tipo de viñeta */
}

.job li {
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
}

.contact a {
    color: #1e6fb8; /* 2980b9 1e6fb8 */
    text-decoration: none;
    font-weight: 500;
}

.contact a:hover {
    text-decoration: underline;
}

.small-list {
    font-size: 12px;
    line-height: 1.3;
    list-style-type: disc; 
    margin-left: 20px;
    padding-left: 18px;
}

.small-list li {
    margin-bottom: 3px;
}

.contact a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.contact i {
    margin-right: 10px; 
}

.about {
    margin-bottom: 15px;
}

.about p {
    line-height: 1.7;
}

.no-bullets {
    list-style-type: none;
    padding-left: 0; /* Opcional: para alinear con el texto */
}


@media print {
    body {
        background-color: #ffffff;  /*Color de fondo que quieras para la impresión*/
        -webkit-print-color-adjust: exact; /* Ajuste para imprimir colores en algunos navegadores*/
    }
    .container{
        box-shadow: none;
    }
    .right-column {
        background-color: #e9f1fb;
        -webkit-print-color-adjust: exact;
        box-shadow: none;
        border-left: 2px solid #c5d8f0;
        border-bottom: 2px solid #c5d8f0;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px 15px;
    }

    .left-column,
    .right-column {
        width: 100%;
        padding: 15px;
    }

    h1, .subtitle {
        text-align: center;
    }

    h1 {
        font-size: 28px;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 18px;
    }

    .job h3 {
        font-size: 20px;
    }

    .job h5 {
        font-size: 14px;
    }

    .job p,
    .small-list {
        font-size: 12px;
        line-height: 1.4;
    }

    .about {
        margin-bottom: 25px;
    }

    section {
        margin-bottom: 20px;
    }

    ul {
        padding-left: 20px;
    }
}
